
    
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


    


.imagen{
    text-align: center;
}


.imagen img{
border-radius: 50%;
}

fieldset:hover{
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}


.imagen img:hover{
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}